services:
  # The Nginx Reverse Proxy Service
  nginx:
    image: emb417/vpc-nginx:refactor
    user: root
    restart: always
    ports:
      - "80:80"
      - "8443:8443"
    networks:
      - vpc-network
    volumes:
      - /data/certbot/conf:/etc/letsencrypt
    depends_on:
      - vpc-next
      - vpc-data
      - vps-data

  # The Certbot Service
  certbot:
    image: certbot/dns-cloudflare
    restart: always
    networks:
      - vpc-network
    volumes:
      - /etc/cloudflare:/etc/cloudflare
      - /data/certbot/conf:/etc/letsencrypt
      - /data/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

  # The VPC Discord Bot
  vpc-bot:
    image: ericfaris/vpc-bot:refactor
    container_name: vpc-bot
    restart: unless-stopped
    env_file:
      - ./vpc-bot.env
    networks:
      - vpc-network
    depends_on:
      - vpc-data
      - vps-data

  # The VPC Next.js App
  vpc-next:
    image: emb417/vpc-next:refactor
    container_name: vpc-next
    restart: unless-stopped
    env_file:
      - ./vpc-next.env
    networks:
      - vpc-network
    depends_on:
      - vpc-data
      - vps-data

  # The VPC Data API Service
  vpc-data:
    image: ericfaris/vpc-data:refactor
    container_name: vpc-data
    restart: unless-stopped
    env_file:
      - ./vpc-data.env
    networks:
      - vpc-network

  # The VPS Data API Service
  vps-data:
    image: ericfaris/vps-data:refactor
    container_name: vps-data
    restart: unless-stopped
    env_file:
      - ./vps-data.env
    volumes:
      - vps-cache:/cache
    networks:
      - vpc-network

  # The VPW Data API Service
  vpw-data:
    image: ericfaris/vpw-data:refactor
    container_name: vpw-data
    restart: unless-stopped
    env_file:
      - ./vpw-data.env
    networks:
      - vpc-network

  # The VPW Discord Bot
  vpw-bot:
    image: ericfaris/vpw-bot:refactor
    container_name: vpw-bot
    restart: unless-stopped
    env_file:
      - ./vpw-bot.env
    networks:
      - vpc-network
    depends_on:
      - vpw-data

networks:
  vpc-network:
      driver: bridge

volumes:
  vps-cache: