x-logging: &default-logging
  driver: json-file
  options:
    max-size: "10m"
    max-file: "14"

services:
  # The Nginx Reverse Proxy Service
  nginx:
    image: emb417/vpc-nginx:latest
    user: root
    restart: always
    ports:
      - "80:80"
      - "8443:8443"
    networks:
      - vpc-network
    volumes:
      - ./certbot/conf:/etc/letsencrypt
    depends_on:
      - vpc-next
      - vpc-data
      - vps-data
    logging: *default-logging

  # The Certbot Service
  certbot:
    image: certbot/dns-cloudflare
    restart: always
    networks:
      - vpc-network
    volumes:
      - ./cloudflare:/etc/cloudflare
      - ./certbot/conf:/etc/letsencrypt
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    logging: *default-logging

  # The VPC Discord Bot
  vpc-bot:
    image: ericfaris/vpc-bot:latest
    restart: unless-stopped
    env_file:
      - ./vpc-bot.env
    networks:
      - vpc-network
    depends_on:
      - vpc-data
      - vps-data
    logging: *default-logging

  # The VPC Next.js App
  vpc-next:
    image: emb417/vpc-next:latest
    restart: unless-stopped
    env_file:
      - ./vpc-next.env
    networks:
      - vpc-network
    depends_on:
      - vpc-data
      - vps-data
    logging: *default-logging

  # The VPC Data API Service
  vpc-data:
    image: ericfaris/vpc-data:latest
    restart: unless-stopped
    env_file:
      - ./vpc-data.env
    networks:
      - vpc-network
    logging: *default-logging

  # The VPS Data API Service
  vps-data:
    image: ericfaris/vps-data:latest
    restart: unless-stopped
    env_file:
      - ./vps-data.env
    volumes:
      - vps-cache:/cache
    networks:
      - vpc-network
    logging: *default-logging

  # The VPW Data API Service
  vpw-data:
    image: ericfaris/vpw-data:latest
    restart: unless-stopped
    env_file:
      - ./vpw-data.env
    networks:
      - vpc-network
    logging: *default-logging

  # The VPW Discord Bot
  vpw-bot:
    image: ericfaris/vpw-bot:latest
    restart: unless-stopped
    env_file:
      - ./vpw-bot.env
    networks:
      - vpc-network
    depends_on:
      - vpw-data
    logging: *default-logging

networks:
  vpc-network:
      driver: bridge

volumes:
  vps-cache: